<!doctype html>
<html lang="en" ng-app="authz">
<head>
<meta charset="utf-8">
<title>ESB Authorization</title>
<link rel="stylesheet" type="text/css" href="css/authz.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script type="text/javascript" src="js/dependencies/jquery.js"></script>
<script type="text/javascript" src="js/dependencies/bootstrap.min.js"></script>
</head>
<body ng-controller="MyCtrl1" id="auzh_body">
<!--   <ul class="menu">
    <li><a href="#/view1">Authorization</a></li>
  </ul> -->

<!-- <span ng-hide='true' ng-init='rscChecked = true'></span> -->
<div class="row-fluid">
	<!--resource panel begin -->
	<div class="span8 panel panel-default ">
		<div class="panel-heading">Resource</div>
		<div style="background-color:#f5f5f5;">
			<ul class="nav nav-pills">
				<li >
					<a ng-click="getRscData()"><i class="talend-img t-img-refresh"></i>Refresh</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="talend-img t-img-add"></i>Add <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<!-- links -->
						<li>
							<!-- <a onclick="openwindow('partials/authz-individual.html','Resoruce',700, 410);">Individual Resource</a> -->
							<a ng-click="openWindow()">Individual Resource</a>
						</li>
						<li>
							<a href="#">SOAP Resource</a>
						</li>
					</ul>
				</li>
				
				<li >
					<a ng-click="addRsc()" style="{{dp_sts}}"><i class="talend-img t-img-duplicate"></i>Duplicate</a>
				</li>
				<li >
					<a  style="{{dlt_sts}}"><i class="talend-img t-img-delete"></i>Delete</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="{{expt_toggles}}" style="{{expt_sts}}">
						<i class="talend-img t-img-export"></i>Export <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<!-- links -->
						<li>
							<a href="#">Selected Resource</a>
						</li>
						<li>
							<a href="#">Selected Assignment</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" >
						<i class="talend-img t-img-import"></i>Import <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<!-- links -->
						<li>
							<a href="#">Resource</a>
						</li>
						<li>
							<a href="#">Assignment</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="toolbar">
			<span >Search:</span>
			<input ng-model="rscSearchTxt" />
			<span style="float:right;padding-right:20px;">
				<span class="input-group-addon">Show</span>
				<input type="radio" ng-model="rscRadio" value="all">All</input>
				<input type="radio" ng-model="rscRadio" value="selected">Selected</input>
			</span>
		</div>
<table  class="table table-striped table-bordered">
	<tr>
		<th>
			<input type="checkbox" ng-model="master" ng-change="masterClick()"/>
			<b ng-hide="true" ng-init="totalSelectedNum"></b>
		</th>
		<th>Name</th>
		<th>Resource</th>
		<th>Matching</th>
	</tr>
	<tr ng-repeat="rsc in rscs|filter:rscSearchTxt">
		<td>
			<input type="checkbox"  ng-model="checkedRsc[$index]" ng-change="changeBtnStatus()">
		</td>
		<td>{{rsc.name}}</td>
		<td>{{rsc.value}}</td>
		<td>{{rsc.matching}}</td>
	</tr>
</table>
</div>
<!--resource panel end -->
<!--role panel begin -->
<div class="span2 panel panel-default">
<div class="panel-heading">Role</div>
<div style="background-color:#f5f5f5;">
	<ul class="nav nav-pills">
		<li >
			<a href="#">Refresh</a>
		</li>
	</ul>
</div>
<div class="toolbar">
	<span class="input-group-addon">Show</span>
	<input type="radio">All</input>
<input type="radio">Used</input>
<input type="radio">Selected</input>
</div>
<table  class="table table-striped table-bordered">
<tr>
<th>
<label class="checkbox">
	<input type="checkbox"></label>
</th>
<th>Name</th>
</tr>
<tr ng-repeat="role in roles">
<td>
<input type="checkbox"/>
</td>
<td>{{role.name}}</td>
</tr>
</table>
</div>
<!--role panel end -->
<!--users panel begin -->
<div class="span2 panel panel-default">
<div class="panel-heading">User</div>
<dl ng-repeat="user in users">
<dt>{{user.name}}</dt>
<dd ng-repeat="name1 in user.users">{{name1}}</dd>
</dl>
</div>
<!--users panel end -->
</div>
<div class="panel-heading">Resource/Role Assignment</div>
<div style="background-color:#f5f5f5;">
	<ul class="nav nav-pills">
		<li >
			<a href="#">Show</a>
		</li>
		<li>
			<span >Assign default action</span>
			<select style="margin-top: 2px;">
				<option>Execute</option>
				<option>Get</option>
				<option>Put</option>
				<option>Delete</option>
				<option>Header</option>
			</select>
		</li>
		<li >
			<a href="#">Assign All</a>
		</li>
		<li >
			<a href="#">Unassign All</a>
		</li>
	</ul>
</div>
<table  class="table table-striped table-bordered">
	<tr>
		<th>
			<label class="checkbox">
				<input type="checkbox"></input>
		</label>
	</th>
	<th>Name</th>
	<th>Resource</th>
	<th>Matching</th>
</tr>
<tr ng-repeat="rsc in rscs">
	<td>
		<input type="checkbox"/>
	</td>
	<td>{{rsc.name}}</td>
	<td>{{rsc.resource}}</td>
	<td>{{rsc.matching}}</td>
</tr>
</table>
</div>
  <div style="text-align:center;">Angular seed app: v<span app-version ></span></div>


<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<!-- <script src="lib/angular/angular-resource.js"></script> -->
<script src="js/modules/authz.js"></script>
<script src="js/services/authz-services.js"></script>
<script src="js/controllers/authz-controllers.js"></script>
<script src="js/filters/authz-filters.js"></script>
<script src="js/directives/authz-directives.js"></script>

</body>
</html>
