<!DOCTYPE html>
<html ng-app="plunker">

<head>
  <meta charset="utf-8" />
  <title></title>
  <script data-require="jquery" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.js"></script>
  <script data-require="angular.js@1.1.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js" data-semver="1.1.5"></script>
  <!--<script data-require="lodash.js@1.3.1" data-semver="1.3.1" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash.min.js"></script>-->
  <!--<script src="http://keith-wood.name/js/jquery.svg.js"></script>-->
  <script src="js/modules/app.js"></script>
</head>

<body ng-controller="MainCtrl">
  <svg style="height:300px">
     <path d="M40,20  A30,30 0 0,0 70,70"
    style="stroke: #cccc00; stroke-width:2; fill:none;"/>
    <path d="M40,20  A30,30 0 1,0 70,70"
    style="stroke: #ff0000; stroke-width:2; fill:none;"/>
    <path d="M40,20  A30,30 0 1,1 70,70"
    style="stroke: #00ff00; stroke-width:2; fill:none;"/>
    <path d="M40,20  A30,30 0 0,1 70,70"
    style="stroke: #0000ff; stroke-width:2; fill:none;"/>
  </svg>
  <p>
    -- sanity check --
    <hello><world></world></hello>
  </p>

  <p>
    -- expected --
    <svg style="height:300px">
      <path d="M0,0L250,0L250,250L0,250z" fill="green"></path>

      <g>
        <path d="M0,0L150,0L150,150L0,150z" fill="red"></path>
        <path d="M0,0L100,0L100,100L0,100z" fill="orange"></path>
      </g>

      <path d="{{square.path}}" fill="{{square.color}}" ng-repeat="square in squares | orderBy:'order'"></path>
    </svg>
  </p>

  <p>
    -- should look the same --
<svg style="height:300px">
  <!--woot this one works-->
  <shape d="M0,0L250,0L250,250L0,250z" fill="green"></shape>

  <!--nesting directives doesn't work-->
  <group>
    <shape d="M0,0L150,0L150,150L0,150z" fill="red"></shape>
    <shape d="M0,0L100,0L100,100L0,100z" fill="orange"></shape>
  </group>

  <!--ng repeat doesn't work-->
  <shape d="{{square.path}}" fill="{{square.color}}" ng-repeat="square in squares | orderBy:'order'"></shape>
</svg>
  </p>

<!--     <my-customer>
    <jsvg-cir></jsvg-cir>
  </my-customer> -->

  <svg style="height:300px">
     <jsvg-cir></jsvg-cir>
  </svg>

</body>

</html>
