<html lang="en" ng-app="qaApp">
<head>
<meta charset="utf-8">
<title>ESB Authorization</title>
<link rel="stylesheet" type="text/css" href="css/authz.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script type="text/javascript" src="js/dependencies/jquery.js"></script>
<script type="text/javascript" src="js/dependencies/bootstrap.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="js/modules/qa.js"></script>
<script>
	var abc=function(){
		alert("this is abc");
	}
</script>
</head>
<body ng-controller="qaCtrl">
  <div>
      <p>The ID is {{greeting.id}}</p>
      <p>The content is {{greeting.content}}</p>
      <!-- <p>The /hello is {{hello}}</p> -->
    </div>
<div class="row-fluid">
	<div class="span8 panel panel-default ">
		<div class="panel-heading">Q & A 
      <span style="float:right;padding-right:20px;">
        <span >Search:</span>
        <input  type="text" class="input-xlarge input-normarl-height" ng-model="rscSearchTxt" />
      </span>
    </div>
    <div>
      <ul ng-repeat="qa in qas|filter:rscSearchTxt">
        <li>Q{{qa.id}}:{{qa.q}}<br>A:{{qa.a}}</li>
      </ul>
    </div>
	</div>
	<div class="span4 panel panel-default ">
		<form class="form-horizontal">
    <fieldset>
      <legend>Create new item</legend>
      <div class="control-group">
        <label class="control-label" for="input01">Title</label>
        <div class="controls">
          <input type="text" class="input-xlarge input-normarl-height" id="input01" >
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input02">Answer</label>
        <div class="controls">
          <textarea rows="10" cols="25"></textarea>
        </div>
      </div>
      <div class="form-actions">
      	<button type="submit" class="btn btn-primary" ng-click="addRscData();">Commit</button>
      	<button  class="btn" onclick="">Cancel</button>
      </div>
    </fieldset>
  </form>
	</div>
</div>
</body>

</body>
</html>