<html ng-app="myApp">
<head lang="en">
<meta charset="utf-8">
<title>SAM</title>
<link rel="stylesheet" href="lib/angular-table/css/angular-table.css" />
<link rel="stylesheet" href="css/samui.css" />
</head>
<body ng-controller="samcontroller">
	<angular-table model="events" style="padding-bottom: 1px; height: 50%">
            <header-row>
                <header-column sortable="true">
                    <div>Date\Time</div>
                    <sort-arrow-ascending></sort-arrow-ascending>
                    <sort-arrow-descending></sort-arrow-descending>
                </header-column>
                <header-column sortable="false">Flow ID</header-column>
                <header-column sortable="false">Provider Host</header-column>
                <header-column sortable="false">Provider IP</header-column>
                <header-column sortable="false">Consumer Host</header-column>
                <header-column sortable="false">Consumer IP</header-column>
                <header-column sortable="false">WS portType/Rest Endpoint</header-column>
            </header-row>

            <row on-selected="handleRowSelection(row)" selected-color="#87cefa" even-color="#ffffff" odd-color="#eeeeee">
            	<column>{{ row.date }}</column>
                <column>{{ row.flowId }}</column>
                <column>{{ row.providerHost }}</column>
                <column>{{ row.providerIP }}</column>
                <column>{{ row.consumerHost }}</column>
                <column>{{ row.consumerIP }}</column>
                <column>{{ row.porttype }}</input></column>
            </row>
        </angular-table>

   <div class="detailsblock" model="selectedEvent">
	<table class="infotable" align="center">
	 	<tr>
		  <td>
			<fieldset>
			    <legend>Customer:</legend>
				<p class ="info">Date: {{selectedEvent.date}}</p>
				<p class ="info">FlowId: {{selectedEvent.flowId}}</p>
				<p class ="info">Port: {{selectedEvent.port}}</p>
			</fieldset>
			</td>
			<td class="imageblockrow"></td>
			<td>
			  <fieldset>
				<legend>Provider:</legend>
				<p class ="info">Date: {{selectedEvent.date}}</p>
				<p class ="info">FlowId: {{selectedEvent.flowId}}</p>
				<p class ="info">Port: {{selectedEvent.port}}</p>
			</fieldset>
		  </td>
	 	</tr>
	 	<tr>
			<td >
			<fieldset>
			    <legend>Customer Out:</legend>
				<p class ="info">Date: {{selectedEvent.date}}</p>
				<p class ="info">FlowId: {{selectedEvent.flowId}}</p>
				<p class ="info">Port: {{selectedEvent.port}}</p>
			</fieldset>
			</td>
			<td class="imageblockrow">
			  <img src="images/big-arrow.png">
			</td>
			<td>
			  <fieldset>
				<legend>Provider In:</legend>
				<p class ="info">Date: {{selectedEvent.date}}</p>
				<p class ="info">FlowId: {{selectedEvent.flowId}}</p>
				<p class ="info">Port: {{selectedEvent.port}}</p>
			</fieldset>
		</td>
	 </tr>
	</table>
   </div>

</body>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular-table/js/angular-table.js"></script>
<script src="js/controllers/samcontroller.js"></script>

</html>