/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.panel-heading{
  border-bottom: 0.1em solid gray;
  font-size: 18px;
  line-height: 27px;
}

.talend-img { 
  display: inline-block;
  width: 18px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}
.t-img-refresh{
   background-image: url("../img/database_refresh.png");
}
.t-img-add{
   background-image: url("../img/add.png");
}
.t-img-delete{
  background-image: url("../img/delete.png");
}
.t-img-duplicate{
  background-image: url("../img/duplicate.png");
}
.t-img-export{
  background-image: url("../img/export.png");
}
.t-img-import{
  background-image: url("../img/import.png");
}

.input-normarl-height{
  height: 30px;
}

