.details {
	border: solid 0.5px #634f36;
	background: #fffff5;
	font-family: "Courier New", Courier, monospace;
	padding: 5px;
	margin: 0 0 1em;
	overflow:hidden;
	width: 90%;

}

.detailsblock {
	height: 50%;
	width: 100%;
}


.infotable{
	width:90%; 
	align:center;
	border:0;
}

.imageblockrow {
	width:5;
	valign: middle;
	margin: 1px 1px 1px 1px;
}


.info {
	margin: 1px 1px 1px 1px;
}
