table td{
    border: 1px solid #eeeeee;
    font:"Droid Sans"
}
.selected{
    background-color: #aaddff;
    font-weight: bold;
}
.level1 td:first-child{
padding-left: 25px;
    }
.level2 td:first-child{
padding-left: 50px;
    }
.level3 td:first-child{
padding-left: 75px;
    }
