<html lang="en" ng-app="individualApp">
<head>
<meta charset="utf-8">
<title>Resource</title>
<link rel="stylesheet" type="text/css" href="../css/authz.css"/>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<script type="text/javascript" src="../js/dependencies/jquery.js"></script>
<script type="text/javascript" src="../js/dependencies/bootstrap.min.js"></script>

</head>
<body ng-controller="individualCtrl">
<form class="form-horizontal">
  <fieldset>
    <legend>Resource</legend>
    <div class="control-group">
      <label class="control-label" for="input01">Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge input-normarl-height" id="input01" >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input02">Resource</label>
      <div class="controls">
        <input type="text" class="input-xlarge input-normarl-height" id="input02">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input03">Matching</label>
      <div class="controls">
        <input type="text" class="input-xlarge input-normarl-height" id="input03">
        <p class="help-block">NOTE: Resource will be saved to Authorization Repository only after creating an Assignment to a Role. Otherwise the Resource will be lost once you leave this Web-Browser session</p>
    </div>
    <div class="form-actions">
    	<button type="submit" class="btn btn-primary" ng-click="addRscData();">Save</button>
    	<button  class="btn" onclick="window.close();">Cancel</button>
    </div>
  </fieldset>
  </form>
<script src="../lib/angular/angular.js"></script>
<script src="../lib/angular/angular-route.js"></script>
<script src="../js/modules/authz.js"></script>
<script src="../js/services/authz-services.js"></script>
<script src="../js/controllers/authz-controllers.js"></script>
<script src="../js/filters/authz-filters.js"></script>
<script src="../js/directives/authz-directives.js"></script>

</body>
</html>