<div class="container">
    <form ng-submit="save()">
        <div>
            Title:
            <br>
            <input type="text" name="title" ng-model="resource.title"/>
        </div>
        <div>
            Summary:
            <br>
            <input type="text" name="summary" ng-model="resource.summary"/>
        </div>
        <div>
            Content:
            <br>
            <textarea name="content" cols="100" rows="10" ng-model="resource.content"></textarea>
        </div>
        <br>
        <a href="#/" class="btn">Cancel</a>
        <button class="btn btn-primary">Save</button>

    </form>
</div>