<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>ID</th>
                <th>Summary</th>
                <th>Updated</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tr ng-repeat="policy in policies" ng-click="populate($index)">
                <td>{{policy.title}}</td>
                <td>{{policy.id}}</td>
                <td>{{policy.summary}}</td>
                <td>{{policy.updated}}</td>
                <td>
                    <div class="row">
                        <a href="#/edit/ws-policy/{{policy.id}}" class="btn"><i class="icon-pencil"></i>Edit</a>
                        <button class="btn btn-danger" ng-click="delete($index)"><i class="icon-trash"></i>Delete</button>
                    </div>
                </td>
            </tr>
        </table>
        <a href="#/new/ws-policy" class="btn btn-info">New</a>
    </div>
    <hr/>
    <div class="row">
        <tabset>
            <tab heading="Content">
                <textarea name="" id="" cols="30" rows="10">{{selected.content}}</textarea>
            </tab>
        </tabset>

    </div>


</div>

