<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>ID</th>
                <th>Summary</th>
                <th>Updated</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tr ng-repeat="service in data.issues" ng-click="populate($index)">
                <td>{{service.title}}</td>
                <td>{{service.id}}</td>
                <td>{{service.summary}}</td>
                <td>{{service.updated}}</td>
                <td>
                    <div class="row">
                        <a href="#/edit/wsdl/{{service.id}}" class="btn"><i class="icon-pencil"></i>Edit</a>
                        <button class="btn btn-danger" ng-click="delete($index)"><i class="icon-trash"></i>Delete
                        </button>
                    </div>
                </td>
            </tr>
        </table>
        <a href="#/new/service" class="btn btn-info">New</a>
    </div>
    <hr/>
    <div class="row">
        <tabset>
            <tab heading="Content">
                <textarea name="" id="" cols="30" rows="10">{{selected.content}}</textarea>
            </tab>
            <tab heading="Assignment">

                <div class="row">
                    <div class="span8">
                        <tree-grid></tree-grid>
                    </div>
                    <div class="span4">
                        <form>
                            <table class="table table-bordered">
                                <thead>Policy List</thead>
                                <tbody>
                                <tr ng-repeat="policy in policyList">
                                    <td> {{policy.title}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <button>Assign</button>
                        </form>
                    </div>
                </div>
            </tab>
            <tab heading="Endpoint">endpoint</tab>
        </tabset>

    </div>

</div>

